html, body {
      height: 100%;   /* make html and body full height */
      margin: 0;      /* remove default body margin */
}

.header-primary,
.footer-primary {
    background-color: lightseagreen;
}

.logo {
  width: 200px;
  height: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.Preview-Image {
  width: 500px;
  height: auto;
}

.Feed-Card {
  border: 1px solid lightseagreen;
  border-radius: 4px;
}

.Feed-Card:hover {
  border: 2px solid lightseagreen;
}

.Profile-Banner {
  height: 500px;
  object-fit: cover;
}

.Profile-Avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.Post-Image {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.Specific-Post-Image {
  width: 750px;
  height: auto;
  object-fit: cover;
}